  <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f0f0f0">
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="100%" valign="top" align="center">
              <table width="600" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td align="center">
                    <table width="600" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td height="10" style="font-size:10px; line-height:10px;"> </td>
                      </tr>
                      <tr>
                        <td height="10" style="font-size:10px; line-height:10px;"> </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr>
              <td width="100%" valign="top" align="center">
                <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#4caf45">
                  <tr>
                    <td align="center">
                      <table width="540" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td height="30" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr>
                            <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size:15px; line-height:20px;" align="left">
                             <strong>Estimado(a) Alan Ingaluque,</strong>
                            </td>
                          </tr>
                          <tr>
                            <td height="10" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr>
                            <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size:14px; line-height:20px;" align="left">
                             La Radio es el &uacute;nico medio capaz de conectar y despertar sentimientos a trav&eacute;s del ritmo de la m&uacute;sica.
Nuestras emisoras est&aacute;n listas para unirse con los objetivos de tu marca y lograr grandes cambios.
                            </td>
                          </tr>
                          <tr>
                            <td height="10" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr>
                            <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size:14px; line-height:20px;" align="left">
                             Descubre todo lo que podemos hacer juntos en nuestra Preventa 2017 y vive una obra llena de  emociones y m&uacute;sica.
                            </td>
                          </tr>
                          <tr>
                            <td height="10" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr>
                            <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size:14px; line-height:20px;" align="left">
                             Te esperamos
                            </td>
                          </tr>
                          <tr>
                            <td height="10" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr>
                            <td align="left">
                              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td height="10" style="font-size:10px; line-height:10px;"> </td>
                                  </tr>
                                  <tr>
                                    <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size:13px; font-weight: 600" align="left">
                                      Abraham Zavala Chocano
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size:13px; font-weight: 600" align="left">
                                      Gerente General
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #ffffff; font-size:10px; line-height:20px; font-weight: 600" align="left">
                                      CRP MEDIOS Y ENTRETENIMIENTO
                                    </td>
                                  </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="30" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                        </table>
                        </td>
                      </tr>
                  </table>
              </td>
            </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="100%" valign="top" align="center">
              <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                <tr>
                </tr>
                <tr>
                  <td width="600" height="505">
                    <img src="http://www.crp.pe/preventa2017/assets/images/invitacion-head-crp-nueve.jpg" width="600" height="505" style="margin:0; padding:0; border:none; display:block;" border="0" alt="preventa_head" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="100%" valign="top" align="center">
              <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                <tr>
                  <td align="center">
                    <table width="540" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td height="20" style="font-size:10px; line-height:10px;"> </td>
                      </tr>
                      <tr>
                        <td width="600" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size:10px; line-height:18px; color:#464646; padding-left:20px;">
                          Si esta informaci&oacute;n no es de su inter&eacute;s por favor omita este mensaje. Si no desea que lo contactemos nuevamente para informarlo sobre nuevos contenidos, promociones, eventos o concursos de CRP Medios y Entretenimiento S.A.C, haga click en <a href="#">"Desuscribirme"</a> para anular cualquier env&iacute;o futuro. Por favor no responda este e-mail.
                        </td>
                      </tr>
                     <tr>
                      <td height="20" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%">
          <tr>
            <td>
              <table width="600">
                <tr>
                  <td height="20" style="font-size:10px; line-height:10px;"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
