  <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f6f6f6">
    <tr style="padding: 0;margin: 0px;">
      <td style="padding: 0;margin: 0px;">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;margin: 0px;">
          <tr style="padding: 0;margin: 0px;">
            <td width="100%" valign="top" align="center" style="padding: 0;margin: 0px;">
              <table width="600" cellpadding="0" cellspacing="0" border="0">
                <tr style="padding: 0;margin: 0px;">
                  <td align="center" style="padding: 0;margin: 0px;">
                    <table width="600" cellpadding="0" cellspacing="0" border="0">
                      <tr style="padding: 0;margin: 0px;">
                        <td height="10" style="font-size:10px; line-height:10px;"> </td>
                      </tr>
                      <tr style="padding: 0;margin: 0px;">
                        <td height="10" style="font-size:10px; line-height:10px;"> </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="padding: 0;margin: 0px;">
      <td style="padding: 0;margin: 0px;">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
            <tr style="padding: 0;margin: 0px;">
              <td width="100%" valign="top" align="center">
                <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                  <tr style="padding: 0;margin: 0px;">
                    <td align="center" height="337" style="padding: 0;margin: 0px;">
                      <table width="540" cellpadding="0" cellspacing="0" border="0">
                          <tr style="padding: 0;margin: 0px;">
                            <td height="30" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr style="padding: 0;margin: 0px;">
                            <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #3baf2a; font-size:15px; line-height:20px;" align="center">
                            </td>
                          </tr>
                          <tr>
                            <td align="left" style="font-family:Arial, Helvetica, sans-serif; color: #3baf2a; font-size:15px; line-height:20px;" align="left">
                             <strong>Estimado(a) Alan Ingaluque,</strong>
                            </td>
                          </tr>
                          <tr style="padding: 0;margin: 0px;">
                            <td height="10" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr style="padding: 0;margin: 0px;">
                            <td align="center" style="font-family:Arial, Helvetica, sans-serif; color: #3baf2a; font-size:16px; line-height:20px; font-weight: bold;" align="center">
                             La Radio es el medio que conecta tu marca con nuestros oyentes en todos lados y en todo el momento...<br>
                             <p style="font-size:14px; line-height:18px;">Te invitamos a descubrir c&oacute;mo en:</p>
                             <p><img src="http://www.crp.pe/preventa2018/assets/images/logo-casa-radio.jpg" alt="CRP Medios y Entretenimiento" width="167" height="67" border="0" style="display:block;border:0px solid;"></p>
                             <p  style="margin:2px 0px;font-size:16tpx; line-height:18px;">
                                5 conexiones que debes experimentar
                             </p>
                             <p>Te esperamos</p>
                             <p style="font-size:14px; line-height:18px;margin-bottom: 0px">Abraham Zavala Chocano</p>
                             <p style="font-size:14px; line-height:18px;margin: 0px 0px;">Gerente General</p>
                            </td>
                          </tr>
                          <tr style="padding: 0;margin: 0px;">
                            <td height="10" style="margin:2px 0px; font-size:10px; line-height:10px;"> </td>
                          </tr>
                          <tr style="padding: 0;margin: 0px;">
                            <td height="10" style="font-size:10px; line-height:10px;"> </td>
                          </tr>
                        </table>
                        </td>
                      </tr>
                  </table>
              </td>
            </tr>
        </table>
      </td>
    </tr>
    <tr height="365">
      <td height="365">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="100%" height="365" valign="top" align="center">
              <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">                
                <tr>
                  <td valign="top" width="600" height="365"> 
                    <a href="http://www.crp.pe/preventa2018/" target="_blank"><img src="http://www.crp.pe/preventa2018/assets/images/mailing-top.png" alt="CRP Medios y Entretenimiento" width="600" height="365" border="0" style="display:block;border:0px solid;"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="padding: 0;margin: 0px; height: 140px">
      <td style="padding: 0;margin: 0px; height: 140px">
        <table width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ededed" style="font-family:Arial, Helvetica, sans-serif;">
          <tr style="padding: 0;margin: 0px;">
            <td style="padding: 0;margin: 0px;">
              <table width="174" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#ededed">
                <tr style="padding: 0;margin: 0px;">
                  <td style="width:110px;">
                    <table width="140" style="padding-left: 20px;" cellpadding="0" cellspacing="0" border="0" bgcolor="#ededed">
                      <tr>
                        <td style="color:#2a4ba2;font-size: 58px;font-weight: bold;">08</td>
                        <td><span style="color:#2a4ba2; font-size: 22px; font-weight: bold;">NOV</span><br>
                          <span style="color:#3baf2a; font-size: 12px; font-weight: bold;">8:30 AM</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="width:110px;">
                    <table width="140"  style="padding-left: 20px;" cellpadding="0" cellspacing="0" border="0" bgcolor="#ededed">
                      <tr style="padding: 0;margin: 0px;">
                        <td style="color:#3baf2a; font-size:10px; font-weight: bold;">Lugar: Microteatro Lima</td>
                      </tr>
                      <tr style="padding: 0;margin: 0px;">
                        <td style="color:#3baf2a; font-size:10px; font-weight: bold;">Jr. Batallón Ayacucho 271 - Barranco</td>
                      </tr>
                      <tr style="padding: 0;margin: 0px;">
                        <td style="color:#d17a20; font-size:10px; font-weight: bold;">Valet parking disponible</td>
                      </tr>                                
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td valign="top" width="250" height="139">
              <a href="http://www.crp.pe/preventa2018/" target="_blank"><img src="http://www.crp.pe/preventa2018/assets/images/mailing-botom.png" alt="CRP Medios y Entretenimiento" width="250" height="139" border="0" style="display:block;border:0px solid;"></a>
            </td>
            <td style="padding: 0;margin: 0px;">
              <table width="174" cellpadding="0" cellspacing="0" border="0" bgcolor="#ededed">
                <tr style="padding: 0;margin: 0px;">
                  <td style="color:#3baf2a; font-size:14px; font-weight: bold;">Confirma tu asistencia</td>
                </tr>
                <tr style="padding: 0;margin: 0px;">
                  <td style="color:#2a4ba2; font-size:14px; font-weight: bold;">Ingresando el c&oacute;digo</td>
                </tr>
                <tr style="padding: 0;margin: 0px;">
                  <td style="color:#2a4ba2; font-size:14px; font-weight: bold;"><p style="margin-bottom: 5px;">MC-MX516</p></td>
                </tr>
                <tr style="padding: 0;margin: 0px;">
                  <td>
                    <a href="http://www.crp.pe/preventa2018/" target="_blank"><img src="http://www.crp.pe/preventa2018/assets/images/btn_ingresar.png" alt="CRP Medios y Entretenimiento" width="109" height="31" border="0" style="display:block;border:0px solid;"></a>
                  </td>
                </tr>
                <tr style="padding: 0;margin: 0px;">
                  <td style="color:#3baf2a; font-size:11px; font-weight: bold;">www.crp.pe/preventa2018</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="padding: 0;margin: 0px; height: 139">
      <td height="139" style="padding: 0;margin: 0px;">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f6f6f6">
          <tr style="padding: 0;margin: 0px;">
            <td width="100%" height="139" valign="top" align="center">
              <table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                <tr style="padding: 0;margin: 0px;">
                  <td align="center" height="139">
                    <table width="540" cellpadding="0" cellspacing="0" border="0">
                      <tr style="padding: 0;margin: 0px;">
                        <td height="20" style="font-size:10px; line-height:10px;"> </td>
                      </tr>
                      <tr style="padding: 0;margin: 0px;">
                        <td width="600" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size:10px; line-height:18px; color:#464646; padding-left:20px;">
                          Si esta informaci&oacute;n no es de su inter&eacute;s por favor omita este mensaje. Si no desea que lo contactemos nuevamente para informarlo sobre nuevos contenidos, promociones, eventos o concursos de CRP Medios y Entretenimiento S.A.C, haga click en <a href="#">"Desuscribirme"</a> para anular cualquier env&iacute;o futuro. Por favor no responda este e-mail.
                        </td>
                      </tr>
                     <tr>
                      <td height="20" style="font-size:10px; line-height:10px;"> </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" bgcolor="#f6f6f6">
          <tr>
            <td>
              <table width="600">
                <tr>
                  <td height="20" style="font-size:10px; line-height:10px;"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
