
.error {
  background-color: #D7111F;
  padding: 6px 12px;
  border-radius: 4px;
  border: #D7111F 1px solid;
  color: white;
  position: absolute;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  z-index: 600;
  left: 5px;
  top: 80px;
}
.error:before {
  /* Este es un truco para crear una flechita */
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid #D7111F;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  /*left: -16px;*/
  position: absolute;
  top: -16px;
}


.error2{
  background-color: #D7111F;
  padding: 6px 12px;
  border-radius: 4px;
  border: #D7111F 1px solid;
  color: white;
  position: absolute;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  z-index: 600;
  left: 5px;
  top: 50px;

}