/*header*/


.content-header-p {

	.titular-header {
		position: relative;
		float: right;
		top: auto;
		margin:27px 0;
	}

	.logo-head {
		text-align: left;
		margin-bottom: 0px !important;
		margin-top: 4px;
		float: left;
	}

}




.wrapper-contenido {
	.title-add p {
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color: #009ad6;
		margin-bottom: 20px;
	}


	.encuesta-add {
		text-align: center;
		font-size: 0.8em;
		line-height: 30px;


	}

	.add-num {
		width: 50px;
		height: 50px;
		background-color: #009ad6;
		border-radius: 50px;
		margin: 0 auto 0;
		line-height: 50px;
		font-weight: bold;
		color: #fff;
		margin-bottom: 30px;
	}


	.wrapp-op {
		display: block;

		.op-gen {
			cursor: pointer;
			width: 35%;
    		margin: 25px auto 25px;
    		position: relative;
		}

		.op-texto {
			border:2px solid #d3cfcf;
			padding: 8px 5px;

			-webkit-transition: all .5s;
		  	transition: all .5s;
		  	-o-transition: all .5s;
		  	-moz-transition: all .5s;

		  	border-radius: 5px;
		  	background-color: #fff;
		} 


		.chekSelect {
			width: 100%;
		    height: 100%;
		    position: absolute;
		    z-index: 100;
		    cursor: pointer;
		    opacity: 0 !important;
		    display: block;
		}


		.select + .op-texto {
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			transform: scale(1.2);

			background-color: #00b103;
			color: #fff;
		}


		

	
	}

	.encuesta-add-inn {
		display: table;
		margin: 0 auto 0;

		@media screen and (max-width: 550px) {
			font-size: .6em !important;
		}
	}


	.enunciado-add {
		

		.line {
			overflow: hidden;
			margin-bottom: 18px;

			.select {
				border:solid 2px #00b103;
				padding: 10px 4px;
				float: left;

				@media screen and (max-width: 440px) {
					width: 38%;
					font-size: 0.8rem;
				}
			}

			.reset-line-mob {
				@media screen and (max-width: 440px) {
					float: none;
				    clear: both;
				    text-align: left;
				}
			}

			p {
				float: left;
				padding: 8px;
			}


			// input {
			// 	float: left;
			// 	display: block;
			// 	width: 40%;
			// 	font-size: 1.2rem;

			// 	@media screen and (max-width: 550px) {
			// 		width: 40%;
			// 		font-size: 1rem;
			// 	}
			// }
		}



	}


	.gracias {
		margin-bottom: 50px;
	    font-size: 40px;
	    margin-top: 60px;
	    line-height: 46px;
	}

	
}





/*responsive*/

@media screen and (max-width: 1000px) {
	.wrapper-content {
	    padding: 10px 20px;
	}
}



@media screen and (max-width: 790px) {
	.titular-header {
		float: none !important;
		margin:5px 0 0 0 !important;
		clear: both;
	}

	.logo-head {
		text-align: center !important;
		margin-bottom: 0px !important;
		margin-top: 4px;
		float: none !important;
	}
}


@media screen and (max-width: 600px) {
	.wrapper-contenido {
		.wrapp-op {
			.op-gen {
				width: 50%;
			}
		}
	}
}

@media screen and (max-width: 440px) {

	

	.wrapper-contenido {
		.encuesta-add {
			font-size: 0.7em;
		}


		.wrapp-op {
			.op-gen {
				width: 80%;
			}
		}
	}

}


